@model IEnumerable<ApplicationCore.Models.MovieCardResponseModel>

@{
    ViewData["Title"] = "Home Page";
}

@* Razor Views in ASP.NET : Combine Razor syntax with HTML
   Combine C# and HTML here *@

@foreach (var movie in Model) {         // Model is the allias of the IEnumerable
     <div>
          @movie.Id
     </div>
     <div>
          @movie.Title
     </div>
     <div>
          <img src = "@movie.PosterUrl" />
     </div>
}